-
    var filesPath = ''
    
    var list1 = [
    {icon: 'blue-scope', title: 'Donec efficitur molestie', descr: 'Nulla pretium nunc in nulla placerat, sit amet porttitor enim ullamcorper. Curabitur ex erat, euismod ac vestibulum vel, viverra non lorem.', link: '#'},
    {icon: 'blue-tower', title: 'Mauris interdum venenatis', descr: 'Vivamus cursus ante eu orci rutrum, vitae viverra ante dapibus. Vivamus porta molestie turpis, quis elementum nisi egestas eget.', link: '#'},
    {icon: 'blue-home', title: 'Cras sit amet', descr: 'Fusce suscipit, ante at imperdiet vehicula, ex augue feugiat enim, sed faucibus sem tortor quis turpis. Mauris lacinia neque id augue efficitur, ut feugiat massa efficitur.', link: '#'}
    ]

    var list2 = [
    {icon: 'green-doc-search', title: 'Proin felis eros ', descr: 'Iverra sed eros id, eleifend maximus tortor'},
    {icon: 'green-time', title: 'Suspendisse potenti', descr: 'Vestibulum mi risus, aliquam vitae efficitur quis'},
    {icon: 'green-folder', title: 'Fusce pretium enim', descr: 'Quisque at dui nunc. Curabitur sodales, turpis at luctus suscipit, nisl leo dignissim turpis'},
    {icon: 'green-safe', title: 'Vivamus urna eros', descr: 'Fusce facilisis nunc a urna lacinia, nec sagittis felis efficitur. Phasellus commodo porttitor odio'},
    {icon: 'green-doc', title: 'Maecenas congue nisi', descr: 'Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur vulputate arcu nisi'},
    {icon: 'green-scheme', title: 'Nullam purus velit', descr: 'Praesent ac turpis sit amet ex euismod congue vitae sit amet risus'}
    ]
    
    var partners = [
    {name: 'P1', img: 'partner1.png'},
    {name: 'P2', img: 'partner2.png'},
    {name: 'P3', img: 'partner3.png'},
    {name: 'P4', img: 'partner4.png'},
    {name: 'P5', img: 'partner5.png'}
    ]